<!-- chat/templates/chat/room.html -->
{% load static %}
{% load chat_extras %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </script>
</head>
<style>
    @import url("https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap");
html

</style>
<body>
{% header %}
<div class="container" style="flex-direction: row; justify-content: center">
{#    <textarea id="number_col" style="float: right; min-height: 50vh; width: 1.5rem; border: none"></textarea>#}
    <textarea placeholder="" contenteditable="true" id="textarea" style="white-space: pre; background-color: white; width: 50%; min-height: 50vh; font: 1rem Monospace; border: none"
    onkeydown="if(event.keyCode===9){
        var v=this.value,s=this.selectionStart,e=this.selectionEnd;
        this.value=v.substring(0, s)+'\t'+v.substring(e);
        this.selectionStart=this.selectionEnd=s+1;
        return false};"></textarea>
</div>
<p id="cursor" style="position: absolute; width: 20px; height: 20px; background-color: rgba(81, 81, 245, 0.2); display: none; border-radius: 10px; border: solid rgba(81, 81, 245, 0.5) 2px"></p>
    {{ room_name|json_script:"room-name"}}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let data ={}
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );


        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            if (data.message) {
                document.getElementById("textarea").value = data.message;
            }
            document.getElementById('cursor').style.top = data.y +'px';
            document.getElementById('cursor').style.left = data.x +'px';
            document.getElementById('cursor').style.display = 'inline';
            console.log(data)
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.addEventListener('change', messageKey);
        function messageKey(e){
            let message = document.getElementById("textarea").value


            return logKey(e, message)
        }

        document.addEventListener('mousemove', logKey);
        function logKey(e, message) {
            if (message) {
                let data = {
                    'x': `${e.clientX}`,
                    'y': `${e.clientY}`,
                    'message': message,
                }


                chatSocket.send(JSON.stringify(data))
            }
            else {
                let data = {
                    'x': `${e.clientX}`,
                    'y': `${e.clientY}`,

                }
                chatSocket.send(JSON.stringify(data))
            }

        }

    </script>


</body>
</html>