<div class="container" style="margin-bottom: 3rem">
	<div class="header-bar">
		<ul class="slider-menu">
            <li><a href="{% url 'index' %}" style="text-decoration: none; color: black">Home</a></li>
			<li><a href="{% url 'logout' %}" style="text-decoration: none; color: black">Logout</a></li>
            <li><a href="{% url 'register' %}" style="text-decoration: none; color: black">Sign In</a></li>
            {{ forloop.counter }}
            <li><a href="{% url 'login' %}" style="text-decoration: none; color: black">Login</a></li>
		</ul>
	</div>
</div>
